[project]
	description = Keep all of the quality engineering docs here.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group OSIC-QE-Admins
[access "refs/drafts/*"]
	read = group Registered Users
	push = group Registered Users
[access "refs/heads/*"]
	read = group Anonymous Users
	create = group OSIC-QE-Integrators
	forgeAuthor = group OSIC-QE-Developers
